<?xml version="1.0" encoding="utf-8"?><!--
     Copyright (C) 2022 The Android Open Source Project
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- TODO: Required to specify which Health Connect permissions the app can request -->

  <application
      android:allowBackup="true"
      android:icon="@mipmap/launcher_logo"
      android:label="@string/app_name"
      android:name="com.example.healthconnect.codelab.presentation.BaseApplication"
      android:roundIcon="@mipmap/launcher_logo"
      android:supportsRtl="true"
      android:theme="@style/Theme.HealthConnect"
      android:usesCleartextTraffic="true"> <!-- 로컬서버 접근하려면 있어야한다함-->
    <activity
        android:name="com.example.healthconnect.codelab.presentation.MainActivity"
        android:exported="true"
        android:theme="@style/Theme.HealthConnect">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
        <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- TODO: Add intent filter to handle permission rationale intent -->

    </activity>
  </application>


  <!-- 심박수 -->
  <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
  <uses-permission android:name="android.permission.health.WRITE_HEART_RATE"/>

  <!-- 걸음수 -->
  <uses-permission android:name="android.permission.health.READ_STEPS"/>
  <uses-permission android:name="android.permission.health.WRITE_STEPS"/>

  <!-- 운동 세션 -->
  <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
  <uses-permission android:name="android.permission.health.WRITE_EXERCISE"/>
  <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTE"/>
  <uses-permission android:name="android.permission.health.WRITE_EXERCISE_ROUTE"/>
  <!-- 소모 칼로리 -->
  <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>
  <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED"/>
  <!-- 체중 -->
  <uses-permission android:name="android.permission.health.READ_WEIGHT"/>
  <uses-permission android:name="android.permission.health.WRITE_WEIGHT"/>
  <!-- 권한요청(백그라운드에서 데이터 받아오는 그런거..) -->
  <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
  <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_HISTORY" />
  <!-- 혈당 -->
  <uses-permission android:name="android.permission.health.READ_BLOOD_GLUCOSE"/>
  <uses-permission android:name="android.permission.health.WRITE_BLOOD_GLUCOSE"/>
  <!-- 혈압 -->
  <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" />
  <uses-permission android:name="android.permission.health.WRITE_BLOOD_PRESSURE" />
  <!-- 체온  -->
  <uses-permission android:name="android.permission.health.READ_BODY_TEMPERATURE" />
  <uses-permission android:name="android.permission.health.WRITE_BODY_TEMPERATURE" />
  <!-- 산소 포화도 -->
  <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
  <uses-permission android:name="android.permission.health.WRITE_OXYGEN_SATURATION" />
  <!-- 호흡수 -->
  <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" />
  <uses-permission android:name="android.permission.health.WRITE_RESPIRATORY_RATE" />

  <!-- 속도 -->
  <uses-permission android:name="android.permission.health.READ_SPEED" />
  <uses-permission android:name="android.permission.health.WRITE_SPEED" />


  <!-- 거리 -->
  <uses-permission android:name="android.permission.health.READ_DISTANCE" />
  <uses-permission android:name="android.permission.health.WRITE_DISTANCE" />

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- TODO: declare Health Connect visibility -->
  <queries>
    <package android:name="com.google.android.apps.healthdata" />
  </queries>

</manifest>